<section class="section={{ section.id }} clerk-section-{{ section.id }}">
  <div class="clerk-headline-wrapper">
    <h2 class="clerk-headline">{{ section.settings.title }}</h2>
  </div>
  <div class="swiper clerk-swiper">
    <div class="swiper-wrapper clerk-swiper-wrapper"
      data-endpoint="{{ section.settings.clerk_endpoint }}"
      {%- if product -%}
      data-product={{- product.id -}}
      {% endif %}
      {% if template.name == 'cart' %}
      data-products="[{% for line_item in cart.items %}{% if forloop.index0 > 0 %}, {% endif %}{{ line_item.product.id }}{% endfor %}]"
      {% endif %}
      {% if collection %}
      data-category={{ collection.id }}
      {% endif %}
      data-labels="{{ section.settings.clerk_endpoint }}"
      data-limit={{ section.settings.number_of_products }}
    ></div>
    <div class="swiper-button-next carousel-navigation-button clerk-next-button clerk-arrow-wrapper">
      <div class="clerk-slider-nav clerk-slider-nav-next">&nbsp;</div>
    </div>
    <div class="swiper-button-prev carousel-navigation-button clerk-prev-button clerk-arrow-wrapper">
      <div class="clerk-slider-nav clerk-slider-nav-prev">&nbsp;</div>
    </div>
    <div class="swiper-pagination clerk-pagination"></div>
  </div>
</section>

<style>
  :root {
    --swiper-pagination-color: {{ section.settings.pagination_color }};
  }
  .clerk-section-{{ section.id }} {
    max-width: 120rem;
    margin: 0 auto;
  }
  .clerk-headline-wrapper {
    margin-bottom: 2.5rem;
    padding: 0 5rem;
    max-width: 120rem;
    margin: 0 auto;
  }
  .clerk-headline {
    font-size: 4rem;
  }
  .clerk-swiper-wrapper {
    height: 100%;
    width: 100%;
  }
  .clerk-slide {
    padding: 1.5rem 0;
  }
  .swiper-button-next:after, 
  .swiper-button-prev:after {
    content: "" !important;
  }
  .clerk-slider-nav{
    background-color: white!important;
    background-image: none!important;
    width: 37px!important;
    height: 37px!important;
    border: 1px solid #ccc;
  }
.clerk-slider-nav-next:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  }
.clerk-slider-nav-prev:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 60%;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
  }
</style>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';

  var clerk_swiper = new Swiper('.clerk-swiper', {
  "rewind": true,
  "slidesPerView": 1.75,
  "navigation": {
    "nextEl": ".clerk-next-button",
    "prevEl": ".clerk-prev-button"
  },
  "spaceBetween": 5,
  "pagination": { 
    "el": ".clerk-pagination",
    "clickable": true
  },
  "breakpoints": {
    "640": {
      "slidesPerView": 2,
      "spaceBetween": 5
    },
    "768": {
      "slidesPerView": 3,
      "spaceBetween": 5
    },
    "1024": {
      "slidesPerView": 4,
      "spaceBetween": 5
    }
  },
  on: {
  init: function () {
    this.slides.forEach((slide, index) => {
      slide.setAttribute('data-swiper-slide-index', index);
    });
  },
  slideChange: function () {
    this.slides.forEach((slide, index) => {
      slide.setAttribute('data-swiper-slide-index', index);
    });
  }
}
});
</script>
{%  schema  %}
  {
    "name": "Clerk slider",
    "class": "shopify-section--featured-collection",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Super cool header"
      },
      {
        "type": "select",
        "id": "clerk_endpoint",
        "label": "Clerk API Endpoint",
        "options": [
          {
            "group": "Regular",
            "value": "recommendations/popular",
            "label": "Bestsellers"
          },
          {
            "group": "Regular",
            "value": "recommendations/trending",
            "label": "Trending"
          },
          {
            "group": "Regular",
            "value": "recommendations/new",
            "label": "Newly added products"
          },
          {
            "group": "Regular",
            "value": "recommendations/currently_watched",
            "label": "Visitors Are Looking At"
          }, 
          {
            "group": "Regular",
            "value": "recommendations/recently_bought",
            "label": "Recently bought"
          }, 
          {
            "group": "Product/Cart page",
            "value": "recommendations/complementary",
            "label": "Best Cross-Sell Products"
          }, 
          {
            "group": "Product/Cart page",
            "value": "recommendations/substituting",
            "label": "Product Alternatives"
          }, 
          {
            "group": "Category",
            "value": "recommendations/category/popular",
            "label": "Category Popular"
          }, 
          {
            "group": "Category",
            "value": "recommendations/category/trending",
            "label": "Category Trending"
          }, 
          {
            "group": "Category",
            "value": "recommendations/category/new",
            "label": "Category New Products"
          }, 
          {
            "group": "Category",
            "value": "recommendations/category/popular_subcategories",
            "label": "Category Popular Subcategories"
          }, 
          {
            "group": "Visitor",
            "value": "recommendations/visitor/history",
            "label": "Visitor History"
          }, 
          {
            "group": "Visitor",
            "value": "recommendations/visitor/complementary",
            "label": "Visitor Recommendations"
          }, 
          {
            "group": "Visitor",
            "value": "recommendations/visitor/substituting",
            "label": "Visitor Alternatives"
          }, 
          {
            "group": "Customer",
            "value": "recommendations/customer/history",
            "label": "Customer History"
          }, 
          {
            "group": "Customer",
            "value": "recommendations/customer/complementary",
            "label": "Customer Recommendations"
          }, 
          {
            "group": "Customer",
            "value": "recommendations/customer/substituting",
            "label": "Customer Alternatives"
          }
        ]
      },
      {
        "type": "range",
        "id": "number_of_products",
        "label": "Number of products label",
        "default": 12,
        "min": 4,
        "max": 18,
        "step": 1
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title Label",
        "default": "Collection Title"
      },
      {
        "type": "color",
        "id": "pagination_color",
        "label": "Pagination color",
        "default": "#121212"
      }
    ],
    "presets": [
      {
        "name": "Clerk Slider"
      }
    ]
  }
{% endschema %}